{% extends 'base.html' %}
{% set doc_title = 'Add employee' %}
{% set add_empl_active = 'active' %}
{% block header %}
Add employee
{% endblock header %}
{% block content %}
<form class="m-2 mt-3 p-2 border rounded row g-3 input-group" method="POST" action="{{url_for('main.add_empl_post')}}">
  <div class="col-12">
    <label for="inputName" class="form-label">Name</label>
    <input type="text" class="form-control" id="inputName" name="name">
  </div>
  <div class="col-md-8">
    <label for="inputNumber" class="form-label">Phone number</label>
    <input type="tel" class="form-control" id="inputNumber" name="phone_nr">
  </div>
  <div class="col-md-4">
    <label for="inputSalary" class="form-label">Salary</label>
    <input type="number" class="form-control" id="inputSalary" name="salary">
  </div>
  <div class="col-md-4">
    <label for="inputManager" class="form-label">Manager</label>
    <select id="inputManager" class="form-select" name="manager">
      <option value="None" selected>None</option>
      {% for employee in employees %}
      <option value="{{employee[1]}}">{{employee[0]}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-md-4">
    <label for="inputDepartment" class="form-label">Department</label>
    <select id="inputDepartment" class="form-select" name="department">
      {% for department in departments %}
      <option value="{{department[1]}}">{{department[0]}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Add employee</button>
  </div>
</form>
{% endblock content %}